/***************************** BASES *****************************/

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  max-width: 1440px;
  margin: auto;
}

/**
 * Basic styles for main
 */
main {
  display: flex;
  flex-direction: column;
  gap: 43px;
  margin: 50px 100px;
  a {
    text-decoration-thickness: 1px;
    text-underline-offset: 3px;
    text-decoration-skip-ink: none;
  }
  @include laptop {
    margin: 27px 20px;
  }
  @include mobile {
    gap: 22px;
  }
}

/**
 * Basic styles for links
 */
a {
  text-decoration: none;
  cursor: pointer;
  width: fit-content;
}
