/***************************** BASES *****************************/

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  max-width: 1440px;
  margin: auto;
}

/**
 * Basic styles for main
 */
main {
  display: flex;
  flex-direction: column;
  gap: 43px;
  margin: 50px 100px;
  @media screen and (max-width: $breakpoint-laptop) {
    margin: 27px 20px;
  }
  @media screen and (max-width: $breakpoint-mobile) {
    gap: 22px;
  }
}

/**
 * Basic styles for links
 */
a {
  text-decoration: none;
  cursor: pointer;
  width: fit-content;
  //   @include on-event {
  //     color: $text-color;
  //     text-decoration: underline;
  //   }
}
