/***************************** TYPOGRAPHY *****************************/
/***************************** general */
body {
  color: $text-color;
  font-family: Montserrat, sans-serif;
  font-style: normal;
}
a {
  color: $link-color;
}

/*************************************** elements */
.highlightText {
  font-weight: 500;
  font-size: 1.5rem;
  @media screen and (max-width: 425px) {
    font-size: 0.75rem;
  }
}

/***************************** menu */
.menu a {
  @media screen and (max-width: 425px) {
    text-transform: uppercase;
  }
}

/***************************** footer */
.footer {
  color: white;
}
