/***************************** NORMALIZE *****************************/
body,
h1,
h2,
p {
  margin: 0;
}

ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

/***************************** BASES *****************************/
html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  max-width: 1440px;
  margin: auto;
}

/**
 * Basic styles for main
 */
main {
  display: flex;
  flex-direction: column;
  gap: 43px;
  margin: 50px 100px;
}
main a {
  text-decoration-thickness: 1px;
  text-underline-offset: 3px;
  -webkit-text-decoration-skip-ink: none;
          text-decoration-skip-ink: none;
}
@media screen and (max-width: 1024px) {
  main {
    margin: 27px 20px;
  }
}
@media screen and (max-width: 425px) {
  main {
    gap: 22px;
  }
}

/**
 * Basic styles for links
 */
a {
  text-decoration: none;
  cursor: pointer;
  width: -moz-fit-content;
  width: fit-content;
}

/***************************** TYPOGRAPHY *****************************/
/***************************** general */
body {
  color: #000000;
  font-family: Montserrat, sans-serif;
  font-style: normal;
}

a {
  color: #000000;
}

/*************************************** elements */
.highlightText {
  font-weight: 500;
  font-size: 1.5rem;
}
@media screen and (max-width: 425px) {
  .highlightText {
    font-size: 0.75rem;
  }
}

/***************************** menu */
@media screen and (max-width: 425px) {
  .menu a {
    text-transform: uppercase;
  }
}

/***************************** footer */
.footer {
  color: white;
}

/***************************** banner */
.banner__title {
  color: #fff;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  font-size: 3rem;
  font-weight: 700;
  text-align: center;
}
@media screen and (max-width: 1024px) {
  .banner__title {
    font-size: 2rem;
  }
}
@media screen and (max-width: 768px) {
  .banner__title {
    font-size: 1.5rem;
    text-shadow: none;
  }
}

/***************************** hosting card */
.housing-card__title {
  color: #fff;
  font-size: 1.125rem;
  font-weight: 700;
  line-height: 142%;
}

/***************************** collapse */
.collapse__title {
  color: #fff;
}
.collapse__content {
  font-size: 1.125rem;
  line-height: 142%;
}
@media screen and (max-width: 1024px) {
  .collapse__title {
    font-size: 1.125rem;
  }
}
@media screen and (max-width: 425px) {
  .collapse__title {
    font-size: 0.813rem;
  }
  .collapse__content {
    font-size: 0.75rem;
  }
}

/***************************** tag */
.tag {
  color: #fff;
  font-size: 0.875rem;
  line-height: 142%;
  font-weight: 700;
}
@media screen and (max-width: 768px) {
  .tag {
    font-size: 0.625rem;
  }
}

/***************************** host */
.host__name {
  color: #ff6060;
  font-size: 1.125rem;
  line-height: 142%;
}
@media screen and (max-width: 768px) {
  .host__name {
    font-size: 0.75rem;
  }
}

/***************************** slide show */
.slideshow__picture-index {
  font-size: 1.125rem;
  color: #fff;
}

/***************************** error page */
.error-page__type {
  color: #ff6060;
  font-size: 18rem;
}
.error-page__message {
  color: #ff6060;
  font-size: 2.25rem;
  font-weight: 500;
  line-height: 142%;
}
.error-page__link {
  font-size: 1.125rem;
}
@media screen and (max-width: 1024px) {
  .error-page__type {
    font-size: 10rem;
  }
  .error-page__message {
    font-size: 2rem;
  }
}
@media screen and (max-width: 425px) {
  .error-page__type {
    font-size: 6rem;
  }
  .error-page__message {
    font-size: 1.125rem;
  }
  .error-page__link {
    font-size: 0.875rem;
  }
}

/***************************** housing sheet */
.housing-sheet .collapse__title {
  font-size: 1.125rem;
}
@media screen and (max-width: 425px) {
  .housing-sheet .collapse__title {
    font-size: 0.813rem;
  }
}
.housing-sheet__titles h1 {
  color: #ff6060;
  font-size: 2.25rem;
  font-weight: 500;
  line-height: 142%;
}
.housing-sheet__titles p {
  font-size: 1.125rem;
}
@media screen and (max-width: 1024px) {
  .housing-sheet__titles h1 {
    font-size: 1.775rem;
  }
  .housing-sheet__titles p {
    font-size: 1rem;
  }
}
@media screen and (max-width: 425px) {
  .housing-sheet__titles h1 {
    font-size: 1.125rem;
  }
  .housing-sheet__titles p {
    font-size: 0.875rem;
  }
}

/***************************** HELPERS *****************************/
.flex-col {
  display: flex;
  flex-direction: column;
}

/**
 * Hide element while making it readable for screen readers
 */
.visually-hidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

/***************************** HEADER *****************************/
.header {
  align-items: center;
  display: flex;
  justify-content: space-between;
  margin: 45px 100px 0px;
}
.header__logo {
  width: 210px;
  height: 68px;
}
@media screen and (max-width: 1024px) {
  .header {
    margin: 20px 20px 0px;
  }
  .header__logo {
    width: 145px;
    height: 46px;
  }
}
@media screen and (max-width: 360px) {
  .header__logo {
    width: 100px;
    height: auto;
  }
}

/***************************** FOOTER *****************************/
.footer {
  align-items: center;
  background-color: black;
  display: flex;
  flex-direction: column;
  gap: 28px;
  padding: 66px 464px 29px;
  text-align: center;
  width: 100%;
}
.footer__logo {
  width: 122px;
}
.footer__text {
  padding: 0 20px;
}
@media screen and (max-width: 1024px) {
  .footer {
    padding: 66px 120px 58px;
  }
}

/***************************** MENU *****************************/
.menu {
  display: flex;
  gap: 57px;
}
.menu__currentPage {
  cursor: default;
  text-decoration: underline;
  text-decoration-thickness: 1px;
  text-underline-offset: 4px;
  -webkit-text-decoration-skip-ink: none;
          text-decoration-skip-ink: none;
}
@media screen and (max-width: 425px) {
  .menu {
    gap: 26px;
  }
}

/***************************** HOUSINGS *****************************/
.housings {
  background-color: #f6f6f6;
  border-radius: 25px;
  margin: auto;
}
.housings__cards-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-column-gap: 60px;
  grid-row-gap: 50px;
  padding: 56px 50px;
  position: relative;
}
@media screen and (max-width: 1400px) {
  .housings__cards-container {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media screen and (max-width: 1024px) {
  .housings__cards-container {
    background-color: white;
    grid-gap: 20px;
    padding: 0px;
  }
}
@media screen and (max-width: 768px) {
  .housings__cards-container {
    grid-template-columns: repeat(1, 1fr);
  }
}

.tags {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.housing-sheet__details {
  display: flex;
  height: -moz-fit-content;
  height: fit-content;
  justify-content: space-between;
}
.housing-sheet__details-description, .housing-sheet__details-equipments {
  width: 582px;
}
@media screen and (max-width: 1400px) {
  .housing-sheet__details {
    flex-direction: column;
    gap: 20px;
    margin-top: 3px;
  }
  .housing-sheet__details-description, .housing-sheet__details-equipments {
    width: 100%;
  }
}

/***************************** HOUSING CARD *****************************/
.housing-card {
  border-radius: 10px;
  display: flex;
  height: 340px;
  position: relative;
  overflow: hidden;
  width: 340px;
}
@media screen and (max-width: 1400px) {
  .housing-card {
    height: 255px;
    width: 335px;
  }
}
@media screen and (max-width: 360px) {
  .housing-card {
    width: 280px;
  }
}
.housing-card__picture {
  -o-object-fit: cover;
     object-fit: cover;
  opacity: 0.8;
  position: absolute;
  height: 340px;
  width: 100%;
}
.housing-card__title {
  bottom: 20px;
  left: 20px;
  max-width: 75%;
  position: absolute;
  z-index: 2;
}

/***************************** LOADER *****************************/
.loader {
  align-items: center;
  display: flex;
  gap: 40px;
  height: 50vh;
  justify-content: center;
  position: relative;
  width: 100%;
  z-index: 99;
}
.loader__svg {
  height: 80px;
  opacity: 1;
  width: 80px;
  z-index: 99;
  animation: loader 2s infinite ease-in-out;
  animation-fill-mode: both;
}
@media screen and (max-width: 1024px) {
  .loader__svg {
    height: 50px;
    width: 50px;
  }
}
@media screen and (max-width: 425px) {
  .loader__svg {
    height: 20px;
    width: 20px;
  }
}
.loader__svg--1 {
  animation-delay: 0.2s;
}
.loader__svg--2 {
  animation-delay: 0.4s;
}
.loader__svg--3 {
  animation-delay: 0.6s;
}

@keyframes loader {
  0% {
    opacity: 0;
    transform: scale(0.3);
  }
  50% {
    opacity: 1;
    transform: scale(1);
  }
  100% {
    transform: scale(0.3);
    opacity: 0;
  }
}
/***************************** BANNER *****************************/
.banner {
  align-items: center;
  background-color: black;
  border-radius: 25px;
  display: flex;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  height: 223px;
  justify-content: center;
  overflow: hidden;
}
.banner__title {
  align-items: center;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  height: 100%;
  width: 100%;
  z-index: 2;
}
.banner:before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: block;
  width: 100%;
  height: 100%;
  z-index: 1;
  opacity: 0.7;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.banner--home:before {
  background-image: url("src/assets/images/banner-home.webp");
}
@media screen and (max-width: 425px) {
  .banner--home:before {
    background-size: 175%;
  }
}
.banner--about-us:before {
  background-image: url("src/assets/images/banner-about-us.webp");
}
@media screen and (max-width: 425px) {
  .banner--about-us:before {
    background-size: 115%;
  }
}
@media screen and (max-width: 1400px) {
  .banner {
    margin: auto;
    width: 70%;
  }
}
@media screen and (max-width: 768px) {
  .banner {
    border-radius: 10px;
    height: 111px;
  }
}
@media screen and (max-width: 425px) {
  .banner {
    width: 100%;
  }
  .banner__title {
    padding: 31px 110px 31px 16px;
    text-align: left;
  }
}

/***************************** COLLAPSE *****************************/
.collapse {
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  gap: 0px;
  overflow: hidden;
  transition: height 1s ease-in-out;
  width: 100%;
}
.collapse__header {
  align-items: center;
  background-color: #ff6060;
  border-radius: 5px;
  display: flex;
  height: 52px;
  justify-content: space-between;
  padding: 10px 15px;
  width: 100%;
  z-index: 2;
}
.collapse__arrow {
  cursor: pointer;
  height: 32px;
  width: 32px;
}
.collapse__arrow--open {
  transform: rotate(-180deg);
  transition: 1s ease-in-out;
}
.collapse__arrow--close {
  transform: rotate(0deg);
  transition: 1s ease-in-out;
}
.collapse__content {
  opacity: 0;
}
.collapse__content-container {
  background-color: #fbfbfb;
  border-radius: 5px;
  padding: 20px;
  transform: translateY(-100%);
  transform-origin: top;
}
.collapse__content-container--open {
  transform: translateY(0%);
  transition: transform 1s ease-in-out;
}
.collapse__content-container--close {
  transform: translateY(-100%);
  transition: transform 1s ease-in-out;
}
.collapse__content--open {
  opacity: 1;
  transition: opacity 1s ease-in-out;
}
.collapse__content--close {
  opacity: 0;
  transition: opacity 1s ease-in-out;
}
@media screen and (max-width: 1400px) {
  .collapse__header {
    padding: 10px;
  }
  .collapse__arrow {
    height: 25px;
    width: 25px;
  }
}
@media screen and (max-width: 425px) {
  .collapse {
    transition: height 0.3s ease-in-out;
  }
  .collapse__header {
    height: 30px;
  }
  .collapse__arrow {
    height: 20px;
    width: 20px;
  }
  .collapse__arrow--open {
    transition: 0.3s ease-in-out;
  }
  .collapse__arrow--close {
    transition: 0.3s ease-in-out;
  }
  .collapse__content-container {
    padding-top: 13px;
  }
  .collapse__content-container--open {
    transition: transform 0.3s ease-in-out;
  }
  .collapse__content-container--close {
    transition: transform 0.3s ease-in-out;
  }
  .collapse__content--open {
    transition: opacity 0.3s ease-in-out;
  }
  .collapse__content--close {
    transition: opacity 0.3s ease-in-out;
  }
}

.tag {
  background-color: #ff6060;
  border-radius: 10px;
  padding: 3px 30px;
  white-space: nowrap;
}
@media screen and (max-width: 768px) {
  .tag {
    border-radius: 5px;
    height: 20px;
    padding: 3px 10px;
  }
}

.host {
  align-items: center;
  display: flex;
  gap: 10px;
}
.host__name {
  text-align: right;
}
.host__picture {
  border-radius: 100%;
  height: 64px;
  width: 64px;
}
@media screen and (max-width: 768px) {
  .host__picture {
    height: 50px;
    width: 50px;
  }
}
@media screen and (max-width: 425px) {
  .host__picture {
    height: 32px;
    width: 32px;
  }
}

.rate {
  display: inline-flex;
  gap: 15px;
}
.rate svg {
  height: 25px;
  width: auto;
}
@media screen and (max-width: 768px) {
  .rate {
    gap: 5px;
  }
  .rate svg {
    height: 16px;
  }
}

.slideshow {
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 415px;
  position: relative;
  width: 100%;
}
.slideshow__picture {
  border-radius: 25px;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
}
.slideshow__picture-container {
  height: 100%;
  width: 100%;
}
.slideshow__picture-index {
  bottom: 24px;
  position: absolute;
}
.slideshow__arrows {
  align-items: center;
  display: flex;
  height: 100%;
  justify-content: space-between;
  padding: 0 23px 25px;
  position: absolute;
  width: 100%;
}
.slideshow__arrow svg {
  height: 80px;
  width: 48px;
}
@media screen and (max-width: 768px) {
  .slideshow {
    height: 255px;
  }
  .slideshow__picture {
    border-radius: 10px;
  }
  .slideshow__arrows {
    padding: 0 5px;
  }
  .slideshow__arrow svg {
    height: 24px;
    width: auto;
  }
}

/***************************** HOME *****************************/
/***************************** ABOUT US *****************************/
.about-us .collapses {
  display: flex;
  flex-direction: column;
  gap: 30px;
  margin: auto;
  width: 1023px;
}
@media screen and (max-width: 1400px) {
  .about-us .collapses {
    width: 582px;
  }
}
@media screen and (max-width: 768px) {
  .about-us .collapses {
    width: 400px;
  }
}
@media screen and (max-width: 425px) {
  .about-us .collapses {
    gap: 20px;
    width: 319px;
  }
}
@media screen and (max-width: 360px) {
  .about-us .collapses {
    width: 280px;
  }
}

/***************************** ERROR PAGE *****************************/
.error-page {
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 139px;
  margin: 139px 50px;
}
.error-page__message {
  text-align: center;
}
.error-page__link {
  text-decoration: underline;
}
@media screen and (max-width: 425px) {
  .error-page {
    gap: 113px;
    margin: 113px 50px;
  }
  .error-page__message {
    padding: 0 37px;
  }
}

.housing-sheet {
  display: flex;
  flex-direction: column;
  gap: 24px;
  min-height: 55vh;
}
.housing-sheet__header {
  display: flex;
  justify-content: space-between;
  margin-top: 5px;
}
.housing-sheet__header-titles-tags {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.housing-sheet__header-host-rate {
  align-items: flex-end;
  display: flex;
  flex-direction: column;
  gap: 21px;
}
@media screen and (max-width: 1400px) {
  .housing-sheet__header {
    flex-direction: column;
    gap: 16px;
  }
  .housing-sheet__header-host-rate {
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: center;
  }
}
@media screen and (max-width: 768px) {
  .housing-sheet {
    gap: 10px;
  }
  .housing-sheet__header {
    margin-top: 0;
  }
  .housing-sheet__header-titles-tags {
    gap: 10px;
  }
}