/***************************** NORMALIZE *****************************/
body,
h1,
h2 {
  margin: 0;
}

/***************************** BASES *****************************/
html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  max-width: 1440px;
  margin: auto;
}

/**
 * Basic styles for main
 */
main {
  margin: 50px 100px;
}
@media screen and (max-width: 425px) {
  main {
    margin: 27px 20px;
  }
}

/**
 * Basic styles for links
 */
a {
  text-decoration: none;
}

/***************************** TYPOGRAPHY *****************************/
/***************************** general */
body {
  color: #000000;
  font-family: Montserrat, sans-serif;
  font-style: normal;
}

a {
  color: #000000;
}

/*************************************** elements */
.highlightText {
  font-weight: 500;
  font-size: 1.5rem;
}
@media screen and (max-width: 425px) {
  .highlightText {
    font-size: 0.75rem;
  }
}

/***************************** menu */
@media screen and (max-width: 425px) {
  .menu a {
    text-transform: uppercase;
  }
}

/***************************** footer */
.footer {
  color: white;
}

/***************************** banner */
.banner__title {
  color: #fff;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  font-size: 3rem;
  font-weight: 700;
}

/***************************** hosting card */
.housing-card__title {
  color: #fff;
  font-size: 18px;
  font-weight: 700;
  line-height: 142%;
}

/***************************** HELPERS *****************************/
/**
 * Hide element while making it readable for screen readers
 */
.visually-hidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

/***************************** HEADER *****************************/
.header {
  align-items: center;
  display: flex;
  justify-content: space-between;
  margin: 45px 100px 0px;
}
.header__logo {
  width: 210px;
  height: 68px;
}
@media screen and (max-width: 425px) {
  .header {
    margin: 20px 20px 0px;
  }
  .header__logo {
    width: 145px;
    height: 46px;
  }
}

/***************************** FOOTER *****************************/
.footer {
  align-items: center;
  background-color: black;
  display: flex;
  flex-direction: column;
  gap: 28px;
  padding: 66px 464px 29px;
  text-align: center;
  width: 100vw;
}
.footer__logo {
  width: 122px;
}
.footer__text {
  padding: 0 20px;
}
@media screen and (max-width: 1024px) {
  .footer {
    padding: 66px 120px 58px;
  }
}

/***************************** MENU *****************************/
.menu {
  display: flex;
  gap: 57px;
}
.menu__currentPage {
  text-decoration: underline;
}
@media screen and (max-width: 425px) {
  .menu {
    gap: 26px;
  }
}

.housings {
  background-color: #f6f6f6;
  border-radius: 25px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-column-gap: 60px;
  grid-row-gap: 50px;
  padding: 56px 50px;
  position: relative;
}

.banner {
  align-items: center;
  background-color: black;
  border-radius: 25px;
  display: flex;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  height: 223px;
  justify-content: center;
  overflow: hidden;
}
.banner__title {
  text-align: center;
  z-index: 2;
}
.banner:before {
  content: " ";
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  opacity: 0.6;
  background-image: url("src/assets/banner-bg.png");
  background-position: center;
  background-repeat: no-repeat;
}

.housing-card {
  align-items: flex-end;
  border-radius: 10px;
  display: flex;
  height: 340px;
  position: relative;
  overflow: hidden;
  width: 340px;
}
.housing-card__picture {
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: 50%;
     object-position: 50%;
  opacity: 0.8;
  position: absolute;
  max-height: 340px;
}
.housing-card__title {
  bottom: 20px;
  left: 20px;
  max-width: 75%;
  position: relative;
  z-index: 2;
}

/***************************** HOME *****************************/
.home {
  display: flex;
  flex-direction: column;
  gap: 43px;
}