@charset "UTF-8";

// 1. Configuration and helpers
@import 'abstracts/variables', 'abstracts/functions', 'abstracts/mixins';

// 2. Vendors
@import 'vendors/normalize';

// 3. Base stuff
@import 'base/base', 'base/typography', 'base/helpers';

// 4. Layout-related sections
@import 'layouts/header', 'layouts/footer', 'layouts/menu', 'layouts/housings',
  'layouts/tags', 'layouts/housingSheetDetails';

// 5. Components
@import 'components/housingCard', 'components/loader', 'components/banner',
  'components/collapse', 'components/tag', 'components/host', 'components/rate',
  'components/slideshow';

// 6. Page-specific styles
@import 'pages/home', 'pages/aboutUs', 'pages/errorPage', 'pages/housingSheet';
