/***************************** NORMALIZE *****************************/
body,
h1,
h2,
p {
  margin: 0;
}

/***************************** BASES *****************************/
html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  max-width: 1440px;
  margin: auto;
}

/**
 * Basic styles for main
 */
main {
  display: flex;
  flex-direction: column;
  gap: 43px;
  margin: 50px 100px;
}
@media screen and (max-width: 1024px) {
  main {
    margin: 27px 20px;
  }
}
@media screen and (max-width: 425px) {
  main {
    gap: 22px;
  }
}

/**
 * Basic styles for links
 */
a {
  text-decoration: none;
  cursor: pointer;
  width: -moz-fit-content;
  width: fit-content;
}

/***************************** TYPOGRAPHY *****************************/
/***************************** general */
body {
  color: #000000;
  font-family: Montserrat, sans-serif;
  font-style: normal;
}

a {
  color: #000000;
}

/*************************************** elements */
.highlightText {
  font-weight: 500;
  font-size: 1.5rem;
}
@media screen and (max-width: 425px) {
  .highlightText {
    font-size: 0.75rem;
  }
}

/***************************** menu */
@media screen and (max-width: 425px) {
  .menu a {
    text-transform: uppercase;
  }
}

/***************************** footer */
.footer {
  color: white;
}

/***************************** banner */
.banner__title {
  color: #fff;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  font-size: 3rem;
  font-weight: 700;
  text-align: center;
}
@media screen and (max-width: 1024px) {
  .banner__title {
    font-size: 2rem;
  }
}
@media screen and (max-width: 768px) {
  .banner__title {
    font-size: 1.5rem;
    text-shadow: none;
  }
}

/***************************** hosting card */
.housing-card__title {
  color: #fff;
  font-size: 1.125rem;
  font-weight: 700;
  line-height: 142%;
}

/***************************** collapse */
.collapse__title {
  color: #fff;
}
.collapse__content {
  font-size: 1.125rem;
  line-height: 142%;
}
@media screen and (max-width: 1024px) {
  .collapse__title {
    font-size: 1.125rem;
  }
}
@media screen and (max-width: 425px) {
  .collapse__title {
    font-size: 0.813rem;
  }
  .collapse__content {
    font-size: 0.75rem;
  }
}

/***************************** HELPERS *****************************/
/**
 * Hide element while making it readable for screen readers
 */
.visually-hidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

/***************************** HEADER *****************************/
.header {
  align-items: center;
  display: flex;
  justify-content: space-between;
  margin: 45px 100px 0px;
}
.header__logo {
  width: 210px;
  height: 68px;
}
@media screen and (max-width: 1024px) {
  .header {
    margin: 20px 20px 0px;
  }
  .header__logo {
    width: 145px;
    height: 46px;
  }
}
@media screen and (max-width: 360px) {
  .header__logo {
    width: 100px;
    height: auto;
  }
}

/***************************** FOOTER *****************************/
.footer {
  align-items: center;
  background-color: black;
  display: flex;
  flex-direction: column;
  gap: 28px;
  padding: 66px 464px 29px;
  text-align: center;
  width: 100vw;
}
.footer__logo {
  width: 122px;
}
.footer__text {
  padding: 0 20px;
}
@media screen and (max-width: 1024px) {
  .footer {
    padding: 66px 120px 58px;
  }
}

/***************************** MENU *****************************/
.menu {
  display: flex;
  gap: 57px;
}
.menu__currentPage {
  text-decoration: underline;
  cursor: default;
}
@media screen and (max-width: 425px) {
  .menu {
    gap: 26px;
  }
}

.housings {
  background-color: #f6f6f6;
  border-radius: 25px;
  margin: auto;
}
.housings__cards-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-column-gap: 60px;
  grid-row-gap: 50px;
  padding: 56px 50px;
  position: relative;
}
@media screen and (max-width: 1400px) {
  .housings__cards-container {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media screen and (max-width: 1024px) {
  .housings__cards-container {
    background-color: white;
    grid-gap: 20px;
    padding: 0px;
  }
}
@media screen and (max-width: 768px) {
  .housings__cards-container {
    grid-template-columns: repeat(1, 1fr);
  }
}

.housing-card {
  border-radius: 10px;
  display: flex;
  height: 340px;
  position: relative;
  overflow: hidden;
  width: 340px;
}
@media screen and (max-width: 1400px) {
  .housing-card {
    height: 255px;
    width: 335px;
  }
}
@media screen and (max-width: 360px) {
  .housing-card {
    width: 280px;
  }
}
.housing-card__picture {
  -o-object-fit: cover;
     object-fit: cover;
  opacity: 0.8;
  position: absolute;
  height: 340px;
  width: 100%;
}
.housing-card__title {
  bottom: 20px;
  left: 20px;
  max-width: 75%;
  position: absolute;
  z-index: 2;
}

/***************************** LOADER COMPONENT *****************************/
.loader {
  align-items: center;
  display: flex;
  gap: 40px;
  height: 50vh;
  justify-content: center;
  position: relative;
  width: 100%;
  z-index: 99;
}
.loader__svg {
  height: 80px;
  opacity: 1;
  width: 80px;
  z-index: 99;
  animation: loader 2s infinite ease-in-out;
  animation-fill-mode: both;
}
@media screen and (max-width: 1024px) {
  .loader__svg {
    height: 50px;
    width: 50px;
  }
}
@media screen and (max-width: 425px) {
  .loader__svg {
    height: 20px;
    width: 20px;
  }
}
.loader__svg--1 {
  animation-delay: 0.2s;
}
.loader__svg--2 {
  animation-delay: 0.4s;
}
.loader__svg--3 {
  animation-delay: 0.6s;
}

@keyframes loader {
  0% {
    opacity: 0;
    transform: scale(0.3);
  }
  50% {
    opacity: 1;
    transform: scale(1);
  }
  100% {
    transform: scale(0.3);
    opacity: 0;
  }
}
.banner {
  align-items: center;
  background-color: black;
  border-radius: 25px;
  display: flex;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  height: 223px;
  justify-content: center;
  overflow: hidden;
}
.banner__title {
  z-index: 2;
}
.banner:before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: block;
  width: 100%;
  height: 100%;
  z-index: 1;
  opacity: 0.6;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.banner--home:before {
  background-image: url("src/assets/images/banner-home.png");
}
@media screen and (max-width: 425px) {
  .banner--home:before {
    background-size: 175%;
  }
}
.banner--about-us:before {
  background-image: url("src/assets/images/banner-about-us.png");
}
@media screen and (max-width: 425px) {
  .banner--about-us:before {
    background-size: 115%;
  }
}
@media screen and (max-width: 1400px) {
  .banner {
    margin: auto;
    width: 70%;
  }
}
@media screen and (max-width: 1024px) {
  .banner {
    padding: 31px 16px;
  }
}
@media screen and (max-width: 425px) {
  .banner {
    height: 111px;
    padding: 31px 110px 31px 16px;
    width: 100%;
  }
  .banner__title {
    text-align: left;
  }
}

.collapse {
  display: flex;
  flex-direction: column;
  gap: 0px;
  width: 1023px;
}
.collapse__header {
  align-items: center;
  background-color: #ff6060;
  border-radius: 5px;
  display: flex;
  height: 52px;
  justify-content: space-between;
  padding: 10px 15px;
  width: 100%;
}
.collapse__arrow {
  cursor: pointer;
  height: 32px;
  width: 32px;
}
.collapse__arrow--open {
  transform: rotate(180deg);
  transition: 1s ease-in-out;
}
.collapse__arrow--close {
  transform: rotate(360deg);
  transition: 1s ease-in-out;
}
.collapse__content {
  background-color: #fbfbfb;
  border-radius: 0 5px 5px 0;
  padding: 20px;
}
.collapse__content--open {
  transform: rotate(180deg);
  transition: 1s ease-in-out;
}
.collapse__content--close {
  transform: rotate(360deg);
  transition: 1s ease-in-out;
}
@media screen and (max-width: 1400px) {
  .collapse {
    width: 582px;
  }
  .collapse__header {
    padding: 10px;
  }
  .collapse__arrow {
    height: 25px;
    width: 25px;
  }
}
@media screen and (max-width: 768px) {
  .collapse {
    width: 400px;
  }
}
@media screen and (max-width: 425px) {
  .collapse {
    width: 319px;
  }
  .collapse__header {
    height: 30px;
  }
  .collapse__arrow {
    height: 20px;
    width: 20px;
  }
}
@media screen and (max-width: 360px) {
  .collapse {
    width: 280px;
  }
}

/***************************** HOME *****************************/
/***************************** ABOUT US *****************************/
.about-us .collapses {
  display: flex;
  flex-direction: column;
  gap: 30px;
  margin: auto;
}