/***************************** HEADER *****************************/

.header {
  align-items: center;
  display: flex;
  justify-content: space-between;
  margin: 45px 100px 0px;
  @include laptop {
    margin: 20px 20px 0px;
  }
  &__logo {
    width: 210px;
    height: auto;
    @include laptop {
      width: 145px;
    }
    @include mobileXS {
      width: 100px;
    }
  }
}
