/***************************** HOUSINGS *****************************/
.housings {
  background-color: $grey;
  border-radius: 25px;
  margin: auto;
  &__cards-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 60px;
    grid-row-gap: 50px;
    padding: 56px 50px;
    position: relative;
    @include laptopXL {
      grid-template-columns: repeat(2, 1fr);
    }
    @include laptop {
      background-color: white;
      grid-gap: 20px;
      padding: 0px;
    }
    @include tablet {
      grid-template-columns: repeat(1, 1fr);
    }
  }
}
