/***************************** BANNER *****************************/
.banner {
  align-items: center;
  background-color: black;
  border-radius: $largeRadius;
  display: flex;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  height: 223px;
  justify-content: center;
  overflow: hidden;
  z-index: 1;
  @include media-breakpoint($breakpoint-laptopXL) {
    margin: auto;
    width: 70%;
  }
  @include media-breakpoint($breakpoint-tablet) {
    border-radius: $mediumRadius;
    height: 111px;
  }
  @include media-breakpoint($breakpoint-mobile) {
    width: 100%;
  }
  &__title {
    @include fullHeightWidth;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    text-align: center;
    z-index: 3;
    @include media-breakpoint($breakpoint-mobile) {
      padding: 31px 110px 31px 16px;
      text-align: left;
    }
  }
  &:before {
    @include pseudo-elem;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: block;
    opacity: 0.7;
    z-index: 2;
  }
  &--home {
    &:before {
      background-image: url('/banner-home.webp');
      @include media-breakpoint($breakpoint-mobile) {
        background-size: 175%;
      }
    }
  }
  &--about-us {
    &:before {
      background-image: url('/banner-about-us.webp');
      @include media-breakpoint($breakpoint-mobile) {
        background-size: 115%;
      }
    }
  }
}
