/***************************** COLLAPSE *****************************/
.collapse {
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  gap: 0px;
  overflow: hidden;
  transition: height 1s ease-in;
  width: 1023px;
  &__header {
    align-items: center;
    background-color: $brand-color;
    border-radius: 5px;
    display: flex;
    height: 52px;
    justify-content: space-between;
    padding: 10px 15px;
    width: 100%;
    z-index: 2;
  }
  &__arrow {
    cursor: pointer;
    height: 32px;
    width: 32px;
    &--open {
      transform: rotate(-180deg);
      transition: 1s ease-in;
    }
    &--close {
      transform: rotate(0deg);
      transition: 1s ease-out;
    }
  }
  &__content {
    &-container {
      background-color: $light-grey;
      border-radius: 5px;
      opacity: 0;
      padding: 20px;
      transform: translateY(-100%);
      transform-origin: top;
      transition: opacity 0.3s ease-in-out;
      &--open {
        opacity: 1;
        transform: translateY(0px);
        transition: 1s ease-in;
      }
      &--close {
        opacity: 0;
        transform: translateY(-100%);
        transition: 1s 0.3s ease-out;
      }
    }
    &-text {
      transform: translateY(-100%);
      &--open {
        transform: translateY(0px);
        transition: 1s 0.3s ease-in-out;
      }
      &--close {
        transform: translateY(-100%);
        transition: 1s ease-in-out;
      }
    }
  }
  @media screen and (max-width: $breakpoint-laptopXl) {
    width: 582px;
    &__header {
      padding: 10px;
    }
    &__arrow {
      height: 25px;
      width: 25px;
    }
  }
  @media screen and (max-width: $breakpoint-tablet) {
    width: 400px;
  }
  @media screen and (max-width: $breakpoint-mobile) {
    width: 319px;
    &__header {
      height: 30px;
    }
    &__arrow {
      height: 20px;
      width: 20px;
    }
  }
  @media screen and (max-width: $breakpoint-mobileXs) {
    width: 280px;
  }
}
