.host {
  align-items: center;
  display: flex;
  gap: 10px;
  &__name {
    text-align: right;
    //   overflow-wrap: break-word;
  }
  &__picture {
    border-radius: 100%;
    height: 64px;
    width: 64px;
    @include media-breakpoint($breakpoint-tablet) {
      height: 50px;
      width: 50px;
    }
    @include media-breakpoint($breakpoint-mobile) {
      height: 32px;
      width: 32px;
    }
  }
}
