/***************************** MENU *****************************/

.menu {
  display: flex;
  gap: 57px;
  &__currentPage {
    text-decoration: underline;
  }
  @media screen and (max-width: 425px) {
    gap: 26px;
  }
}
