.slideshow {
  @include flex-col;
  align-items: center;
  height: 415px;
  position: relative;
  width: 100%;
  @include tablet {
    height: 255px;
  }
  &__picture {
    @include fullHeightWidth;
    border-radius: $largeRadius;
    object-fit: cover;
    @include tablet {
      border-radius: $mediumRadius;
    }
    &-container {
      @include fullHeightWidth;
    }
    &-index {
      bottom: 24px;
      position: absolute;
    }
  }
  &__arrows {
    @include fullHeightWidth;
    align-items: center;
    display: flex;
    justify-content: space-between;
    padding: 0 23px 25px;
    position: absolute;
    @include tablet {
      padding: 0 5px;
    }
  }
  &__arrow svg {
    height: 80px;
    width: 48px;
    @include tablet {
      height: 24px;
      width: auto;
    }
  }
}
