// -----------------------------------------------------------------------------
// This file contains all application-wide Sass mixins.
// -----------------------------------------------------------------------------

/* buttons */
@mixin pseudo-elem {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

/// Events wrapper
@mixin on-event() {
  &:hover,
  &:active,
  &:focus,
  &:focus-within {
    @content;
  }
}
