// -----------------------------------------------------------------------------
// This file contains all application-wide Sass variables.
// -----------------------------------------------------------------------------

/// text color
/// @type Color
$text-color: #000000;

/// link color
/// @type Color
$link-color: #000000;

/// Main brand color
/// @type Color
$brand-color: #ff6060;

// /// Light grey
// /// @type Color
// $light-grey: rgb(237, 237, 237) !default;

// /// Medium grey
// /// @type Color
// $mid-grey: rgb(153, 153, 153) !default;

// /// Dark grey
// /// @type Color
// $dark-grey: rgb(68, 68, 68) !default;
