/***************************** ABOUT US *****************************/
.about-us {
  .collapses {
    @include flex-col;
    gap: 30px;
    margin: auto;
    width: 1023px;
    @include media-breakpoint($breakpoint-laptopXL) {
      width: 582px;
    }
    @include media-breakpoint($breakpoint-tablet) {
      width: 400px;
    }
    @include media-breakpoint($breakpoint-mobile) {
      gap: 20px;
      width: 319px;
    }
    @include media-breakpoint($breakpoint-mobileXS) {
      width: 280px;
    }
  }
}
