/***************************** ERROR PAGE *****************************/
.error-page {
  @include flex-col;
  align-items: center;
  gap: 139px;
  margin: 139px 50px;
  @include media-breakpoint($breakpoint-mobile) {
    gap: 113px;
    margin: 113px 50px;
  }
  &__message {
    text-align: center;
    @include media-breakpoint($breakpoint-mobile) {
      padding: 0 37px;
    }
  }
  &__link {
    text-decoration: underline;
  }
}
