/***************************** ERROR PAGE *****************************/
.error-page {
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 139px;
  margin: 139px 50px;
  &__message {
    text-align: center;
  }
  &__link {
    text-decoration: underline;
  }
  @media screen and (max-width: $breakpoint-mobile) {
    gap: 113px;
    margin: 113px 50px;
    &__message {
      padding: 0 37px;
    }
  }
}
