.housing-sheet {
  @include flex-col;
  gap: 24px;
  min-height: 55vh; // for loader
  @include media-breakpoint($breakpoint-tablet) {
    gap: 10px;
  }
  &__header {
    display: flex;
    justify-content: space-between;
    margin-top: 5px;
    @include media-breakpoint($breakpoint-laptopXL) {
      flex-direction: column;
      gap: 16px;
    }
    @include media-breakpoint($breakpoint-tablet) {
      margin-top: 0;
    }
    &-titles-tags {
      @include flex-col;
      gap: 20px;
      @include media-breakpoint($breakpoint-tablet) {
        gap: 10px;
      }
    }
    &-host-rate {
      @include flex-col;
      align-items: flex-end;
      gap: 21px;
      @include media-breakpoint($breakpoint-laptopXL) {
        flex-direction: row-reverse;
        justify-content: space-between;
        align-items: center;
      }
    }
  }
}
