/***************************** FOOTER *****************************/

.footer {
  @include flex-col;
  align-items: center;
  background-color: black;
  gap: 28px;
  padding: 66px 464px 29px;
  text-align: center;
  width: 100%;
  @include media-breakpoint($breakpoint-laptop) {
    padding: 66px 120px 58px;
  }
  &__logo {
    width: 122px;
  }
  &__text {
    padding: 0 20px;
  }
}
