.housing-sheet__details {
  display: flex;
  height: fit-content;
  gap: 76px;
  @include media-breakpoint($breakpoint-laptopXL) {
    flex-direction: column;
    gap: 20px;
    margin-top: 3px;
  }
  &-description,
  &-equipments {
    width: 100%;
  }
}
